.logo {
  text-align: center;

  margin-bottom: 40px;
}

.menu {
  width: 100%;

  margin-bottom: 15px;

  padding: 12px;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

.selector {
  margin-top: 30px;

  margin-bottom: 30px;
}

.selector button {
  padding: 12px 20px;

  margin-right: 10px;

  cursor: pointer;
}

#respuesta {
  margin-top: 40px;

  background: white;

  padding: 20px;

  border-radius: 10px;

  min-height: 180px;

  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.card {
  background: white;

  padding: 25px;

  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}

.textarea {
  width: 100%;

  height: 180px;

  padding: 15px;

  resize: none;
}

input {
  width: 100%;

  padding: 12px;

  margin-bottom: 20px;
}

.selector button.active {
  background: #0077b6;
  color: white;
}

.selector button {
  border: none;
  border-radius: 6px;
}

#calcular,
#consultar {
  background: #0077b6;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.spinner {
  padding: 20px;

  text-align: center;

  font-size: 18px;
}
