<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>PoolCare AI</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/layout.css" />
    <link rel="stylesheet" href="/static/css/components.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>

  <body>
    <div class="app">
      <aside class="sidebar">
        <div class="logo">
          🏊

          <h2>PoolCare AI</h2>
        </div>

        <nav>
          <button class="menu active" id="nuevaConsulta">Nueva Consulta</button>

          <button class="menu" id="historial">Historial</button>

          <button class="menu" id="informacion">Información</button>
        </nav>
      </aside>

      <main class="main">
        <header>
          <h1>Consultor Inteligente para Piscinas</h1>

          <p>Sistema basado en IA + RAG</p>
        </header>

        <section class="selector">
          <button id="modoLibre" class="active">Consulta Libre</button>

          <button id="modoGuiado">Asistente Guiado</button>
        </section>

        <section id="contenido"></section>

        <section id="respuesta">Esperando una consulta...</section>
      </main>
    </div>

    <script type="module" src="/static/js/app.js"></script>
    <script type="module" src="/static/js/views.js"></script>
    <script type="module" src="/static/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
